<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <truconversion_connect>
            <general>
                <active>1</active>
                <truconversion_domain_id></truconversion_domain_id>
            </general>
        </truconversion_connect>
    </default>
</config>
