<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="truconversion" frontName="truconversionconnect">
            <module name="TruConversion_TruConversionConnect" />
        </route>
    </router>
</config>